<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact at +7128376142
  <a href="http://localhost:3000/static_pages/contact">WUT?</a>.
  I SAY WHAT WHAT ON DA ... WAIT A SECOND WHATAHELL?!!?!?!
  <a href="http://localhost:3000/static_pages/home">2 sweet home</a>.
</p>