<div class="center hero-unit">
  <h1>Sample App Welcome on HELP DAL'NIM YEBENYAM</h1>

  <h2>
    This is bulshit... shit
    <a href="#">PEW PEW PEW</a>
     olololololol.
  </h2>

  <%= link_to "Sign up now! BITCH!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("pewpewpew.jpg", alt: "PIZDEC"), '#' %>